
body{
    background-color: rgb(40, 40, 42);
    font-family: sans-serif;
    font-size: 30px;
    color: #f0f8ff;
}
.main-game{
    text-align: center;
    display: block;
}
.title{
    color: white;
    
}
.input{
    background: none;
    border: none;
    border-bottom: 1px solid #d1c6c6;
    font-size: 20px;
    color:#d1c6c6;
    outline: none;
}
.game-board{
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.boxes{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    
}
.letter{
    align-items: center;
    border: 1px solid #ccc;
    display: grid;
    height: 50px;
    justify-content: center;
    width: 50px;
    
}
.length-error{
    background-color: rgb(252, 2, 2);
    padding: 7px;
    border-radius: 10px;
    font-size: 20px;
    color:  rgb(0, 0, 0);
}
.word-form{
    margin-top: 20px;
}
.green{
    background-color: green;
}
.grey{
    background-color: grey;
}

.orange{
    background-color: orange;
}
.hide{
    display: none;
}
.box-button{
    
    width: 100%;
    padding-top: 30px
}
.play-again{
    background-color: rgb(95, 132, 255);
    border-radius: 15px;
    border: none;
    padding: 7px 10px;
    color: white;
    font-variant: small-caps;
}